
.selected-card{
  border:1px solid var(--bs-primary)!important;
  background-color: var(--bs-gray-400)!important;
}

.crm-floating-with-icon {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid #d7d7d7;
  /* color: white !important; */
}


.form-control:disabled {
  background-color: transparent !important;
}

.form-control[readonly] {
  background-color: transparent !important;
  opacity: 0.5;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: none !important;
  background-color: transparent !important;
}

.form-control {
  background-color:transparent;
  border:none !important
}

.form-floating > label {
  padding: 1rem 0rem !important;
}

.loader {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #000000cc;
  z-index: 2000;
}

.bouncing-loader {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bouncing-loader > div {
  width: 16px;
  height: 16px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: var(--bs-primary);
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-16px);
  }
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

.js-delete{
  border-radius: 0.375rem;
  margin:0.5rem;
}